@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('wght'), 
         url('../fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype'); 
  }

body {
    font-family: 'Rubik', Arial, sans-serif;
    margin-left:100px;
    margin-right: 100px;
    padding:0;
}

.main-header {
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ECECEC;
    margin: 20px;
}

.site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.site-navigation-item {
    margin: 0;
    padding: 0 20px;
    cursor: pointer;
}